<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Critera - Smart Health</title>
	<link href="./src/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="./src/assets/fontawesome/css/all.css" rel="stylesheet">
	<link href="./src/assets/custom/css/app.css" rel="stylesheet" />
	<script src="./src/assets/bootstrap/js/bootstrap.native.min.js"></script>

</head>

<body>
	<header>
		<nav class="navbar critera container-fluid fixed-top">
			<a class="navbar-brand" href="#">
				<img src="./src/assets/images/Logo.png" />
			</a>
		</nav>
	</header>
	<main id="app" :class="{'with-progress': show_progress}">
		<div v-if="visible" class="h-100">
			<nav class="navbar progress-section bg-light navbar-dark fixed-top px-0" v-if="show_progress">
				<div class="container-fluid critera d-flex flex-column">
					<div class="w-100">
						<template v-for="(step,i) in progress_sections">
							<template v-if="step.title && step.progress_color">
								<span class="step" :class="{'not_current': step.index > step_section}" :style="{color : step.progress_color}">{{ step.number }}. {{ step.title }}</span>
							</template>
						</template>
					</div>
					<div class="w-100 d-flex flex-row progress-row">
						<template v-for="(step,i) in progress_sections">
							<template v-if="step.title && step.progress_color">
								<div class="progress" :style="{width : `${100 / progress_sections.filter(x=>x.title && x.progress_color).length+adicional_steps}%`}">
									<div class="progress-bar" :class="{'current' : step_section == step.index,'hideball' : finished}" role="progressbar" :style="{width : getProgressSectionPercentage(step),backgroundColor : step.progress_color}" aria-valuemin="0" aria-valuemax="100">
										<div class="value" v-if="!finished">
											{{ step_question+1+adicional_steps }}/{{ step.total_questions+adicional_steps }}
										</div>
									</div>
								</div>
							</template>
						</template>
					</div>
				</div>
			</nav>
			<div class="container-fluid critera h-100 d-flex flex-column" v-if="!finished">
				<template v-if="!showing_confirm">
					<div class="question-section mt-5">
						<h1 class="text" v-if="current_question.text">
							<dynamic-component :template-html="current_question.text" :key="`${global_index}_text`" :context="form" />
						</h1>
						<div class="subtext">
							<div v-if="current_question.subtext">
								<dynamic-component :template-html="current_question.subtext" :key="`${global_index}_subtext`" :context="form" />
							</div>
							<div class="separator"></div>
						</div>
					</div>
					<div class="answer-section my-3" v-if="input">
						<div class="row">
							<div class="col-md-6 col-sm-12" v-if="['text'].includes(input.type)">
								<div class="input-group" :class="{'is-success' : testRegex(input.validation_rule,form[input.field])}">
									<input :type="input.type" v-mask="input.mask" class="form-control" :placeholder="input.placeholder" v-model="form[input.field]" />
								</div>
							</div>
							<template v-if="['radio'].includes(input.type)">
								<div class="form-check col-sm-12 col-md-3" v-for="(option,o) in input.options">
									<label class="critera radio h-100" :class="{'selected' : option == form[input.field]}">
										<div class="col-sm-12 col-md-10">
											{{ option }}
										</div>
										<div class="col-sm-12 col-md-2 col-sm-12 text-right">
											<input class="form-check-input" type="radio" :name="input.field" :id="`${input.field}_${o}`" :value="option" v-model="form[input.field]">
											<i class="far fa-dot-circle ml-auto" v-if='option == form[input.field]'></i>
											<i class="far fa-circle ml-auto" v-else></i>
										</div>
									</label>
								</div>
							</template>
							<template v-if="['ball-input'].includes(input.type)">
								<div class="form-check" v-for="(option,o) in input.options">
									<label class="critera ball-input" :class="{'selected' : option == form[input.field]}">
										{{ option }}
										<input class="form-check-input" type="radio" :name="input.field" :id="`${input.field}_${o}`" :value="option" v-model="form[input.field]">
									</label>
								</div>
							</template>
							<template v-if="['checkbox'].includes(input.type)">
								<div class="form-check col-sm-12 col-md-3" v-for="(option,o) in input.options">
									<label class="critera radio h-100" :class="{'selected' : (form[input.field]??[]).includes(option)}">
										<div class="col-sm-12 col-md-10">
											{{ option }}
										</div>
										<div class="col-sm-12 col-md-2 col-sm-12 text-right">
											<input class="form-check-input" type="checkbox" :name="input.field" :value="option" v-model="form[input.field]" @change="changeOption(false)">
											<i class="far fa-dot-circle ml-auto" v-if='(form[input.field]??[]).includes(option)'></i>
											<i class="far fa-circle ml-auto" v-else></i>
										</div>
									</label>
								</div>
								<div class="form-check col-sm-12 col-md-3">
									<label class="critera radio h-100" :class="{'selected' : (form[input.field]??[]).includes('Outras')}">
										<div class="col-sm-12 col-md-10">
											Outras
										</div>
										<div class="col-sm-12 col-md-2 col-sm-12 text-right">
											<input class="form-check-input" type="checkbox" :name="input.field" value="Outras" v-model="form[input.field]" @change="changeOption(false)">
											<i class="far fa-dot-circle ml-auto" v-if='(form[input.field]??[]).includes("Outras")'></i>
											<i class="far fa-circle ml-auto" v-else></i>
										</div>
									</label>
								</div>
								<div class="form-check col-sm-12 col-md-3">
									<label class="critera radio h-100" :class="{'selected' : (form[input.field]??[]).includes('Nenhuma das opções')}">
										<div class="col-sm-12 col-md-10">
											Nenhuma das opções
										</div>
										<div class="col-sm-12 col-md-2 col-sm-12 text-right">
											<input class="form-check-input" type="checkbox" :name="input.field" value="Nenhuma das opções" v-model="form[input.field]" @change="changeOption(true)">
											<i class="far fa-dot-circle ml-auto" v-if='(form[input.field]??[]).includes("Nenhuma das opções")'></i>
											<i class="far fa-circle ml-auto" v-else></i>
										</div>
									</label>
								</div>
							</template>
						</div>
						<div class="row other-section" v-if="others_selected">
							<div class="col-md-6 col-sm-12">
								<label class="label-input">Outros</label>
								<div class="input-group" :class="{'is-success' : testRegex(input.validation_rule,form[`${input.field}_others`])}">
									<input type="text" class="form-control" placeholder="" v-model="form[`${input.field}_others`]" />
								</div>
							</div>
						</div>
					</div>
					<div class="buttons-section mt-auto">
						<div class="row">
							<div class="col-12 d-flex justify-content-end">
								<button class="btn criteria outline mr-3" @click="previousQuestion" v-if="can_go_back">Voltar</button>
								<button class="btn criteria" @click="nextQuestion(false)" :disabled="!can_next">Próxima</button>
							</div>
						</div>
					</div>
				</template>
				<template v-else>
					<div class="question-section mt-5">
						<h1 class="text" v-if="current_question.text">
							<dynamic-component :template-html="current_question.text" :key="`${global_index}_text`" :context="form" />
						</h1>
						<div class="subtext">
							<div v-if="current_question.subtext">
								Dos problemas de saúde apontados na etapa anterior, classifique o estado atual da doença:
							</div>
							<div class="separator"></div>
						</div>
					</div>
					<div class="answer-section my-3">
						<template v-for="(r,i) in Object.keys(details[current_section.title][input.field])">
							<div class="row detail-row" :key="i">
								<div class="col-12">
									<b>{{ r }}</b>
								</div>
							</div>
							<div class="row mt-1">
								<div class="form-check col-sm-12 col-md-3" v-for="(option,o) in ['Ativa','Tratada','Inativa']">
									<label class="critera radio h-100" :class="{'selected' : option == details[current_section.title][input.field][r]}">
										<div class="col-sm-12 col-md-10">
											{{ option }}
										</div>
										<div class="col-sm-12 col-md-2 col-sm-12 text-right">
											<input class="form-check-input" type="radio" :name="`${input.field}_detail_${i}`" :value="option" v-model="details[current_section.title][input.field][r]">
											<i class="far fa-dot-circle ml-auto" v-if='option == details[current_section.title][input.field][r]'></i>
											<i class="far fa-circle ml-auto" v-else></i>
										</div>
									</label>
								</div>
							</div>
						</template>
					</div>
					<div class="buttons-section mt-auto">
						<div class="row">
							<div class="col-12 d-flex justify-content-end">
								<button class="btn criteria outline mr-3" @click="goBackDetails">Voltar</button>
								<button class="btn criteria" @click="nextQuestion(true)" :disabled="!can_next_details">Prosseguir</button>
							</div>
						</div>
					</div>
				</template>
			</div>
			<div class="container-fluid critera h-100 d-flex flex-column" v-else>
				<div class="question-section mt-auto">
					<h1 class="text finished container" v-if="current_question.text">
						Obrigado por participar...
					</h1>
				</div>
				<div class="buttons-section mt-auto">
					<div class="row">
						<div class="col-12 d-flex justify-content-end">
							<button class="btn criteria">Sair</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src=" ./src/assets/vue/js/vue2.min.js"></script>
	<script src="./src/assets/vue/js/v-mask.min.js"></script>
	<script src="./src/components/dynamic_component.js"></script>
	<script src="./src/services/app.js"></script>

</html>

</html>