@font-face {
    font-family: "Votorantim Sans";
    src: url(../../votorantins/fonts/VotorantimSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Votorantim Sans";
    src: url(../../votorantins/fonts/VotorantimSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Votorantim Sans";
    src: url(../../votorantins/fonts/VotorantimSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Votorantim Sans";
    src: url(../../votorantins/fonts/VotorantimSans-Light.ttf);
    font-weight: lighter;
}

html {
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
	background-color: #F4F4F4;
}

input[type="text"], select.form-control {
	background: transparent;
	border: none;
	border-bottom: 2px solid #999999;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	color : #999999;
	font-family: Votorantim Sans;
	font-style: normal;
	box-shadow :unset!important;
	padding-right: 40px;
}

.input-group.is-success input[type="text"],.input-group.is-success select.form-control {
	border-color: #AED145;
}

.input-group.is-success {
	position: relative;
}

.input-group.is-success::before {
	display: block;
	content : " ";
    position: absolute;
    top: 0px;
    right: 0px;
	background: url("../../images/checked.png");
	height: 24px;
	width: 24px;
	background-position: cover;
	background-repeat: no-repeat;
}
  
  
input[type="text"]:focus, select.form-control:focus {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: Votorantim Sans;
	font-style: normal;
	border-color: #71CBE6;
}

input[type="text"]::placeholder, select.form-control::placeholder {
	color :#999999;
	font-family: Votorantim Sans;
	font-style: normal;
}


.critera.navbar {
	background-color: #2A2F6E;
	height: 100px;
}

.critera.container-fluid {
	padding: 0 80.25px;
}

#app {
	height: 100%;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
}

#app.with-progress {
	padding-top: 196px;
}

.question-section p {
	margin-bottom: 0;
}

.question-section .text {
	font-family: Votorantim Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 49px;
	color: #212721;
	margin-bottom: 12px;
}

.question-section .subtext {
	font-family: Votorantim Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 140.62%;
	color: #212721;
}

.question-section .subtext .separator {
	margin-top: 10px;
	width: 84px;
	height: 6px;
	left: 84px;
	top: 422px;
	background: #71CBE6;
	border-radius: 6px;
}

.buttons-section {
	padding-bottom: 64px;
}

.btn.criteria {
	background-color: #AED145;
	border-color: #AED145;
	border-radius: 6px;
	color : white;
	padding: 12px 15px;
}

.btn.criteria.outline {
	background-color: transparent;
	border-radius: 6px;
	color : #C2C2C2;
	padding: 12px 15px;
	border-color: #C2C2C2;
}

.btn.criteria:disabled {
	background: #C2C2C2;
	border-color: #C2C2C2;
}

.progress-section  {
	height: 96px;
	margin-top: 100px;
}

.progress-section .step {
	font-family: Votorantim Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 140.62%;
	color: #AED145;
	margin-right: 24px;
	padding-left: 24px;
	border-left: 1px solid #C4C4C4;
}

.progress-section .step:first-child {
	border-left: unset;
	padding-left: unset;
}


.progress-section .step.not_current {
	color: #999999!important;
	font-style: normal;
	font-weight: normal;
}

.progress-section .progress-row {
	position: absolute;
    bottom: -3px;
}

.progress-section .progress-row .progress {
	border-radius: unset;
	height: 6px;
	overflow: unset;
}

.progress-section .progress-row .progress:nth-child(odd) {
	background-color: #C2C2C2;
}

.progress-section .progress-row .progress .progress-bar {
	overflow: unset;
	position: relative;
}

.progress-section .progress-row .progress .progress-bar.current::after {
	display: block;
    content: " ";
    background-color: inherit;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    right: 0;
    position: absolute;
}

.progress-section .progress-row .progress .progress-bar .value {
	font-family: Votorantim Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 140.62%;
	text-align: center;
	color: #212721;
	position: absolute;
    bottom: -23px;
    right: 0;
	visibility:hidden;
}

.progress-section .progress-row .progress .progress-bar.current .value {
	visibility:visible;
}